  <!doctype html>

  <html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Welcome</title>
    <meta name="description" content="Sean's Webpage">
    <meta name="author" content="Sean">

    <style>
      body{
        background-color:#f9f9f9;
      }
      .header-wrapper{
        width:1200px;
        height:700px;
        margin:0 auto;
        background-color:#343134;
        margin-top:-10px;

      }
      .header{
        padding-top: 50px;
        width:100%;
        margin:0 auto;
        text-align:center;

      }
      .content-wrapper{
        width:1200px;
        height:800px;
        display: flex;
        margin:auto;
        background-color:#22314D;

      }
      .content-wrapper div{
        flex: 1;
        padding:20px 20px 20px 20px;
      }
      a{
        color:#ADD8E6;
      }
      a:visited{
        color:#ADD8E6;
      }


      h1{
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        font-size:48px;
        text-align:center;
        padding-bottom:50px;
        color:#ffffff ;
      }
      h3{
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
      }
      p{
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
        color:#ffffff;
        font-size:;
      }
    </style>

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <![endif]-->
    </head>

    <body>
      <div class="header-wrapper">
        <div class="header">
          <h1> This is the About page</h1>
          <img src="http://via.placeholder.com/800x400">
          <h3><%= link_to 'Home', root_path %></h3>
        </div>
      </div>
      <div class="content-wrapper">
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas sed tempus urna et pharetra pharetra. Pharetra sit amet aliquam id diam. Consectetur lorem donec massa sapien faucibus et molestie ac feugiat. Volutpat odio facilisis mauris sit amet. Convallis convallis tellus id interdum velit laoreet id. Orci sagittis eu volutpat odio facilisis mauris sit. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. A pellentesque sit amet porttitor eget dolor morbi. At risus viverra adipiscing at. Facilisis leo vel fringilla est. Nibh cras pulvinar mattis nunc sed. Tincidunt dui ut ornare lectus sit. Vitae aliquet nec ullamcorper sit amet risus nullam.</p>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas sed tempus urna et pharetra pharetra. Pharetra sit amet aliquam id diam. Consectetur lorem donec massa sapien faucibus et molestie ac feugiat. Volutpat odio facilisis mauris sit amet. Convallis convallis tellus id interdum velit laoreet id. Orci sagittis eu volutpat odio facilisis mauris sit. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. A pellentesque sit amet porttitor eget dolor morbi. At risus viverra adipiscing at. Facilisis leo vel fringilla est. Nibh cras pulvinar mattis nunc sed. Tincidunt dui ut ornare lectus sit. Vitae aliquet nec ullamcorper sit amet risus nullam.</p>
        </div>

      </div>

    </body>
    </html>