<div class="container">
  <footer class="footer">
    <small>
      Created by Sean Fitzgerald for the <a href="https://www.udemy.com">The Complete Ruby on Rails Developer Course</a>
      taught by <a href="https://www.mashrurhossain.com">Mashrur Hossain</a>
    </small>
    <nav>
      <ul>
        <li><%=link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>